<h2 style='color:#851574'>CCT College Dublin Continuous Assessment</h2>

<span style="color:#155485">Explain what you plan on doing with the data. E.g., Why did you choose the specific visualizations? Why did you choose specific observations for a visualization, how did you Engineer your Data? etc This must be detailed in the Mark-up of the Jupyter Notebook and include the rationale for your choice.</span>

<span style="color:#155485">Generate a plot that details the 5 top Companies by Revenue for each Decade. E.g., Top 5 for 1950-1959, 1960-1969, etc. This must be a single plot either static or interactive.</span>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('fortune500.csv')

<h3 style="color:#851574">Grouping by Year</h3>

In [4]:
groupedY = df.groupby((df.Year//10)*10)

In [5]:
type(groupedY)

pandas.core.groupby.generic.DataFrameGroupBy

<h3 style="color:#851574">Decades Quantity</h3>

In [6]:
for year, grp in groupedY:
    print(year)

1950
1960
1970
1980
1990
2000

<h3 style="color:#851574">Top 5 companies grouped by year</h3>

In [7]:
groupedY.head(5).sort_values(by=['Year','Rank']).loc[:, df.columns!='Profit (in millions)']

       Year  Rank                  Company  Revenue (in millions)
0      1955     1           General Motors                 9823.5
1      1955     2              Exxon Mobil                 5661.4
2      1955     3               U.S. Steel                 3250.4
3      1955     4         General Electric                 2959.1
4      1955     5                   Esmark                 2510.8
2500   1960     1           General Motors                11233.1
2501   1960     2              Exxon Mobil                 7910.7
2502   1960     3               Ford Motor                 5356.9
2503   1960     4         General Electric                 4349.5
2504   1960     5               U.S. Steel                 3643.0
7500   1970     1           General Motors                24295.1
7501   1970     2              Exxon Mobil                14929.8
7502   1970     3               Ford Motor                14755.6
7503   1970     4         General Electric                 8448.0
7504   1970     5  Intl. Business Machines                 7197.3
12500  1980     1              Exxon Mobil                79106.5
12501  1980     2           General Motors                66311.2
12502  1980     3                    Mobil                44720.9
12503  1980     4               Ford Motor                43513.7
12504  1980     5                   Texaco                38350.4
17500  1990     1           General Motors               126974.3
17501  1990     2               Ford Motor                96932.6
17502  1990     3              Exxon Mobil                86656.0
17503  1990     4  Intl. Business Machines                63438.0
17504  1990     5         General Electric                55264.0
22500  2000     1           General Motors               189058.0
22501  2000     2          Wal-Mart Stores               166809.0
22502  2000     3              Exxon Mobil               163881.0
22503  2000     4               Ford Motor               162558.0
22504  2000     5         General Electric               111630.0

---

<h3 style="color:#851574">Plot</h3>